@font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url(../../../assets/ResultsSummary/fonts/HankenGrotesk-VariableFont_wght.ttf)
        format('truetype')
}

/* gradient colors */
$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

/* gradients */
$primary-gradient: linear-gradient(to bottom, $light-slate-blue, $light-royal-blue);
$circle-gradient: linear-gradient(to bottom, $violet-blue, $persian-blue);

/* accents */
$accents: (
  accent-0: (hsl(0, 100%, 67%), hsl(0, 100%, 67%, .1)),
  accent-1: (hsl(39, 100%, 56%), hsl(39, 100%, 56%, .1)),
  accent-2: (hsl(166, 100%, 37%), hsl(166, 100%, 37%, .1)),
  accent-3: (hsl(234, 85%, 45%), hsl(234, 85%, 45%, .1))
);

/* neutral */
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

.results-summary {
    font-family: 'HankenGrotesk', sans-serif;

    h1, h2, h3, p, ul, li {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
    }

    .result {
        border-radius: 0 0 30px 30px;
        background: $primary-gradient;
        padding-top: 1.5em; 
        padding-bottom: 2.5em;
        padding-right: 2.5em;
        padding-left: 2.5em;
        margin-bottom: 1.5em;
        text-align: center;

        h1 {
            font-size: 1.2rem;
            margin-bottom: 1.2em;
            font-weight: 500;
            letter-spacing: 1px;
        }

        .result-feedback,
        .result-score span {
            font-size: 1rem;
        }

        h1,
        .result-feedback,
        .result-score span {
            color: $light-lavender;
        }

        .result-score,
        .result-status {
            color: $white;
        }

        .result-score {
            display: flex;
            justify-content: center;
            margin-bottom: 1.5em;

            div {
                width: 110px;
                height: 110px;
                aspect-ratio: 1/1;
                padding: 20px;
                border-radius: 50%;
                background: $circle-gradient;
            }

            p {
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 100%;
            }

            strong,
            span {
                line-height: 1;
            }
            
            strong {
                font-size: 4rem;
                margin-bottom: 5px;
            }
        }

        .result-status {
            font-size: 1.5rem;
            margin-bottom: .5em;
            letter-spacing: 1px;
        }
    }

    .summary {
        padding: 0 1.5em 0 1.5em;

        h2 {
            font-size: 1.2rem;
            margin-bottom: 1em;
        }

        .summary-items {
            ul li:nth-child(n+2) {
                margin-top: 1em;
            }

            li {
                padding: 1em;
                background-color: #eeeaea;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .flex-group {
                    display: flex; 
                    align-items: center;
                    font-weight: 700;
                    flex-wrap: wrap;
                    gap: 0.5rem;

                }

                .summary-item-title {
                    font-size: 1rem;
                }

                em {
                    font-weight: 700;
                    font-style: normal;
                }
            }

            @each $accent, $colors in $accents {
                $background: nth($colors, 2);
                $color: nth($colors, 1);

                li[data-item-type=#{$accent}] {
                    background: $background;

                    .summary-item-title {
                        color: $color;
                    }
                }
            }

        }

        .button{
            margin-top: 1.3em;
            margin-bottom: 1.3em;
            width: 100%;
            padding: .8em 0 .8em 0;
            background: $dark-gray-blue;
            color: $white;
            font-size: 1rem;
            border: 1px solid;
            border-radius: 30px;
            cursor: pointer;

            &:hover,
            &:focus {
                background: $primary-gradient;
            }
        }
    }
}

/* desktop */
@media (min-width: 38rem) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .results-summary {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        border-radius: 25px;
        box-shadow: 5px 5px 30px $light-lavender;

        .result {
            align-self: stretch;
            border-radius: 25px ;
            margin: 0;
            width: 50%;
            padding-top: 2.5rem;

            .result-content-wrapper {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .result-score div {
                width: 130px;
                height: 130px;
            }

            .result-status {
                font-size: 1.8rem;
            }

            h1 {
                margin-bottom: 1.5em;
            }
        }

        .summary {
            width: 50%; 
            padding: 0 2em 0 2em;

            h2 {
                margin-top: 1em;
            }

            .button {
                margin-top: 2em;
                margin-bottom: 2em;
            }
        }
    }
}